In [1]:
import pandas as pd
import json

In [2]:
dados = pd.read_csv('desafio1.csv')

In [3]:
df=dados.copy()

In [4]:
df.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [5]:
aux = df.loc[:,['estado_residencia', 'pontuacao_credito']]
aux[aux['estado_residencia']=='SC'].mode().iloc[0,1]

850

In [6]:
aux_info = pd.DataFrame(aux.groupby(by='estado_residencia').describe().reset_index())
aux_info

  estado_residencia pontuacao_credito              ...
                                count        mean  ...    50%    75%    max
0                PR            1731.0  648.961294  ...  650.0  719.5  850.0
1                RS            1750.0  651.105143  ...  650.0  717.0  850.0
2                SC            3519.0  649.537653  ...  653.0  717.0  850.0

[3 rows x 9 columns]

In [14]:
json_dados = {}


for estado, indice in zip(aux_info['estado_residencia'], range(3)):
  json_dados[estado] = {"moda": int(aux[aux['estado_residencia']==estado].mode().iloc[0,1]),
                  "mediana":aux_info.iloc[indice,6],
                  "media":aux_info.iloc[indice,2],
                  "desvio_padrao":aux_info.iloc[indice,3]
                  }

In [12]:
json_dados

{'PR': {'desvio_padrao': 98.60718591309772,
  'media': 648.9612940496822,
  'mediana': 650.0,
  'moda': '850'},
 'RS': {'desvio_padrao': 95.1365984138357,
  'media': 651.1051428571428,
  'mediana': 650.0,
  'moda': '850'},
 'SC': {'desvio_padrao': 97.23349279343306,
  'media': 649.5376527422563,
  'mediana': 653.0,
  'moda': '850'}}

In [15]:
with open('submission.json', 'w') as json_file:
    json.dump(json_dados, json_file)